body {
	color: var(--main-text-color);
	font: 16px/1.63 'Montserrat', sans-serif;
	transition: background .2s ease, color .2s ease;
	// @include viewport-md {
	// 	font-size: 10px;
	// }
}

.wrapper {
	min-height: 100vh;
	// min-width: 375px;
	position: relative;
	overflow: hidden;
}

.container {
	width: 100%;
	max-width: 1720px;
	margin: 0 auto;
	padding: 0 60px;

	@media screen and (max-width: $breakpoint-lg) {
		max-width: 100%;
	}

	@media screen and (max-width: $breakpoint-sm) {
		padding: 0 30px;
	}
}

.title {
	font-weight: 700;
	font-size: 38px;
	line-height: 46px;
	text-align: center;
	// display: block;
	// margin: auto;

}

.sub-tittle {
	color: var(--active-regular-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 100%;
	text-transform: uppercase;
	margin-bottom: 10px;
	transition: color 0.2s ease-in-out;
	text-decoration: none;

	&:hover {
		color: var(--accent-color);
	}

	img {
		width: 12px;
		height: 12px;
	}
}

.tittle {
	background-image: var(--gradient-red-text-background);
	background-clip: text;
	color: transparent;
	font-weight: 700;
	font-size: 38px;
	line-height: 120%;
	letter-spacing: 0%;


	@media screen and (max-width: $breakpoint-sm) {
		font-weight: 700;
		font-size: 30px;
		line-height: 100%;
	}

}

.d-none {
	display: none;
}

.d-md-none {
	@media screen and (max-width: $breakpoint-md) {
		display: none;
	}
}

.d-md-block {
	@media screen and (max-width: $breakpoint-md) {
		display: flex;
	}
}

.d-sm-none {
	@media screen and (max-width: $breakpoint-sm) {
		display: none !important;
	}
}

.d-sm-block {
	@media screen and (max-width: $breakpoint-sm) {
		display: flex;
	}
}

.sm-p-0 {
	@media screen and (max-width: $breakpoint-sm) {
		padding: 0;
	}
}