.main-wrapper {
    background: var(--gradient-supersoft-background);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    position: relative;
    margin-bottom: 100px;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        max-width: 1400px;
        height: 10px;
        background: #CACADB;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        max-width: 1360px;
        height: 10px;
        background: #E7E7F2;
        top: calc(100% + 10px);
        left: 50%;
        transform: translateX(-50%);
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }


    @media screen and (max-width: $breakpoint-lg) {
        margin-bottom: 80px;
    }

    
    @media screen and (max-width: $breakpoint-sm) {
        margin-bottom: 50px;

        &::after {
            max-width: 90%;
        }
    
        &::before {
            max-width: 80%;
        }
    }
}

// .information-screen {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         gap: 124px;
//         margin-bottom: 60px;

//     &__list {
//         display: flex;
//         flex-direction: column;
//         gap: 30px;
//         position: relative;
//         padding: 15px 0;

//         &::before {
//             width: 4px;
//             height: 100%;
//             background-color: #FFFFFF4D;
//             position: absolute;
//             top: 0;
//             right: -62px;
//             content: "";

//         }

//         & li {
//             font-weight: 700;
//             font-size: 38px;
//             line-height: 46.32px;
//             letter-spacing: 0%;
//             text-align: right;
//             color: #B3B3BA;

//             &.active {
//                 background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
//                 -webkit-background-clip: text;
//                 -webkit-text-fill-color: transparent;
//             }

//             &:hover {
//                 color: var(--accent-color);
//                 cursor: pointer;
//             }
//         }
//     }

//     &__text {
//         max-width: 581px;

//         & h2 {
//             font-weight: 700;
//             font-size: 30px;
//             line-height: 36px;
//             letter-spacing: 0%;
//             color: #FFFFFF;
//             margin-bottom: 30px;
//         }

//         & p {
//             font-weight: 400;
//             font-size: 19px;
//             line-height: 30px;
//             letter-spacing: 0%;
//             color: #FFFFFF;
//         }
//     }
// }