.menu {
    padding: 15px;
    margin-left: auto;

    & a {
        color: white;
        font-size: 18px;
    }

    & ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__burger {
        width: 32px;
        height: 32px;
        transition: background-color 0.3s ease-in;
        z-index: 2;
        padding: 10px 7px;
        display: block;
        background-color: transparent;
        border-radius: 8px;
        outline: none;

        &:active {
            background-color: var(--grey-separator-color);
        }

        &:active &-item {
            span, &::before, &::after {
                background-color: var(--main-color);
            }
        }

        &-item {
            width: 18px;
            height: 15px;
            position: relative;
            display: block;

            &::before {
                width: 18px;
                height: 2px;
                background-color: var(--basic-white-color);
                position: absolute;
                left: 0;
                top: 0;
                content: "";
                transition: transform 0.3s ease-in;

                .header--white & {
                    background-color: var(--main-color);
                }
            }

            & span {
                width: 18px;
                height: 2px;
                background-color: var(--basic-white-color);
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                transition: opacity 0.1s ease-in;

                .header--white & {
                    background-color: var(--main-color);
                }
            }

            &::after {
                width: 18px;
                height: 2px;
                background-color: var(--basic-white-color);
                position: absolute;
                left: 0;
                bottom: 0;
                content: "";
                transition: transform 0.3s ease-in, background-color 0.2s ease-in;

                .header--white & {
                    background-color: var(--main-color);
                }
            }
        }
    }

    &__nav {
        z-index: 1;
        width: calc(100% - 20px);
        position: fixed;
        bottom: 0;
        left: 50%;
        padding-top: 12px;
        transform: translateX(-50%) translateY(100%);
        transition: transform 0.2s linear;
        background-color: white;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        display: flex;
        justify-content: end;
        flex-direction: column;

        &.active {
            transform: translateX(-50%) translateY(0%);
        }

        ul {
            width: 100%;
            padding: 0 12px;
        }

        li {
            width: 100%;
            margin-bottom: 15px;
        }

        a {
            color: var(--active-regular-color);
            font-weight: 700;
            font-size: 24px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            background-color: var(--grey-bg-color);
            width: 100%;
            border-radius: 12px;
            display: block;
            padding: 7px;

            &.active {
                color: var(--accent-color);
            }

            &:active {
                background-color: var(--grey-separator-color);
            }
        }
    }
}