.review-screen {
    margin-bottom: 60px;

    &__text {
        padding: 30px;
        display: flex;
        flex-direction: column;

        & .tittle {
            line-height: 120%;
        }
    }

    &__image {
        width: 400px;
    }
}