.review-screen {
    margin-bottom: 60px;

    &__slide {
        display: flex;
        background-color: var(--grey-bg-color);
        border-radius: 12px;
    }

    &__text {
        padding: 30px;
        display: flex;
        flex-direction: column;

        & .tittle {
            line-height: 120%;
        }
    }

    &__image {
        width: 400px;
    }

    &__name {
        color: var(--grey-text-color);
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        margin-top: auto;
    }

    &__post {
        color: var(--grey-text-color);
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
    }
}